.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
.Normal_text_a {font-family:Arial;font-weight:normal;font-style:italic;font-size:13px;text-decoration:none;color:#042C7D;background-color:Transparent;letter-spacing:0em;}
.Main_Text {font-family:Arial;font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#080101;background-color:Transparent;letter-spacing:0em;}
.demos {font-weight:bold;font-size:16px;color:#804604;}
.timesroom {font-weight:bold;color:#A20101;}
.authorlist {font-family:Arial;font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#000000;letter-spacing:0em;}
.papertitles {font-weight:bold;color:#804604;}
.lunchetc {font-weight:bold;font-size:16px;color:#A20101;}
.Heading_2 {font-family:Arial;font-weight:bold;font-style:normal;font-size:18px;text-decoration:none;color:#000000;background-color:Transparent;letter-spacing:0em;}
